<a href="https://colab.research.google.com/github/Tazoria/TIL/blob/main/data_analysis/basic/02_DataFrame_%EA%B8%B0%EB%B3%B8%EA%B5%AC%EC%A1%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# ğŸ’• ë°ì´í„°í”„ë ˆì„

## 1ï¸âƒ£ ë°ì´í„°í”„ë ˆì„ ìƒì„±

### ğŸ”˜ ë”•ì…”ë„ˆë¦¬ë¥¼ í†µí•œ ìƒì„±

In [ ]:
# ì—´ì´ë¦„ì„ key, ë¦¬ìŠ¤íŠ¸ë¥¼ valueë¡œ ê°–ëŠ” ë”•ì…”ë„ˆë¦¬ì˜ ì •ì˜(2ì°¨ì› ë°°ì—´)
dic_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

df = pd.DataFrame(dic_data)
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

### ğŸ”˜ ë¦¬ìŠ¤íŠ¸ë¥¼ í†µí•œ ìƒì„±
- ë¦¬ìŠ¤íŠ¸, ì¸ë±ìŠ¤, ì»¬ëŸ¼ëª…ì„ ì§ì ‘ ì§€ì •í•´ ë°ì´í„°í”„ë ˆì„ ìƒì„±

In [ ]:
# ë¦¬ìŠ¤íŠ¸ì— í–‰ì¸ë±ìŠ¤ ì—´ ì´ë¦„ì„ ì§€ì •í•˜ì—¬ ë°ì´í„° í”„ë ˆì„ ë§Œë“¤ê¸°
df = pd.DataFrame([[15, 'ë‚¨', 'ì‹ ì´Œì¤‘'], [17, 'ì—¬', 'ì—°ì„¸ì¤‘']], index=['ì¤€ì„œ', 'ì˜ˆì€'], columns=['ë‚˜ì´', 'ì„±ë³„', 'í•™êµ'])
df2 = df.copy()

# í–‰ ì¸ë±ìŠ¤, ì—´ì´ë¦„ í™•ì¸í•˜ê¸°
print(df)
print('ì¸ë±ìŠ¤ê°’: ', df.index)
print('ì»¬ëŸ¼ëª…: ', df.columns)

    ë‚˜ì´ ì„±ë³„   í•™êµ
ì¤€ì„œ  15  ë‚¨  ì‹ ì´Œì¤‘
ì˜ˆì€  17  ì—¬  ì—°ì„¸ì¤‘
ì¸ë±ìŠ¤ê°’:  Index(['ì¤€ì„œ', 'ì˜ˆì€'], dtype='object')
ì»¬ëŸ¼ëª…:  Index(['ë‚˜ì´', 'ì„±ë³„', 'í•™êµ'], dtype='object')

### ğŸ’¡ ë§¤ì§ëª…ë ¹ì–´ë¥¼ í†µí•œ ìƒì„±

In [ ]:
# ë§¤ì§ëª…ë ¹ì–´ë¡œ ê°„ë‹¨í•˜ê²Œ ë°ì´í„°íŒŒì¼ ìƒì„±
%%writefile sample.csv
c1, c2, c3
1, 1.15, one
2, 2.23, two
3, 3.34, three

Overwriting sample.csv

In [ ]:
# íŒŒì¼ë¡œ ì½ì„ ë•Œ
df = pd.read_csv('sample.csv')
df

   c1    c2      c3
0   1  1.15     one
1   2  2.23     two
2   3  3.34   three

## 2ï¸âƒ£ ì¸ë±ìŠ¤ì™€ ì»¬ëŸ¼ëª… ì¡°íšŒ

In [ ]:
df.columns = ['ì—°ë ¹', 'ë‚¨ì—¬', 'ì†Œì†']
df.index = [ 'í•™ìƒ'+str(i) for i in range(1, len(df)+1) ]

In [ ]:
df

     ì—°ë ¹    ë‚¨ì—¬      ì†Œì†
í•™ìƒ1   1  1.15     one
í•™ìƒ2   2  2.23     two
í•™ìƒ3   3  3.34   three

## 3ï¸âƒ£ í–‰ì´ë¦„, ì—´ì´ë¦„ ë³€ê²½

In [ ]:
# ë©”ì†Œë“œë¥¼ ì‚¬ìš©í•´ì„œ í–‰ê³¼ ì—´ì´ë¦„ ë³€ê²½
df2.rename(columns={'ë‚˜ì´':'ì—°ë ¹', 'ì„±ë³„':'ë‚¨ì—¬', 'í•™êµ':'ì†Œì†'}, inplace=True)
df2.rename(index={'ì¤€ì„œ':'í•™ìƒ1', 'ì˜ˆì€':'í•™ìƒ2'}, inplace=True)

In [ ]:
df2

     ì—°ë ¹ ë‚¨ì—¬   ì†Œì†
í•™ìƒ1  15  ë‚¨  ì‹ ì´Œì¤‘
í•™ìƒ2  17  ì—¬  ì—°ì„¸ì¤‘

## 4ï¸âƒ£ ì¸ë±ì‹±

In [ ]:
# ì‹¤ìŠµ 1
data = {'êµ­ì–´':[80, 90, 70, 30], 'ì˜ì–´':[90, 70, 60, 40], 'ìˆ˜í•™':[90, 60, 80, 70]}

# í–‰ì— í•™ìƒ ì´ë¦„ ë„£ê¸° : ì¶˜í–¥, ëª½ë£¡, í–¥ë‹¨, ë°©ì
students = ['ì¶˜í–¥', 'ëª½ë£¡', 'í–¥ë‹¨', 'ë°©ì']
df = pd.DataFrame(data, index=students)
print(df)

# indexingìœ¼ë¡œ ëª½ë£¡ì´ì˜ êµ­ì–´ì ìˆ˜ ë½‘ì•„ë³´ê¸°
print('ëª½ë£¡ì´ì˜ êµ­ì–´ì ìˆ˜: ', df['êµ­ì–´'][1])
print('ëª½ë£¡ì´ì˜ êµ­ì–´ì ìˆ˜: ', df['êµ­ì–´']['ëª½ë£¡'])

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™
ì¶˜í–¥  80  90  90
ëª½ë£¡  90  70  60
í–¥ë‹¨  70  60  80
ë°©ì  30  40  70
ëª½ë£¡ì´ì˜ êµ­ì–´ì ìˆ˜:  90
ëª½ë£¡ì´ì˜ êµ­ì–´ì ìˆ˜:  90

### ğŸ’¡ iloc, locì„ í†µí•œ ì¸ë±ì‹±

In [ ]:
# ì‹¤ìŠµ 2

# numpyë¥¼ ì‚¬ìš©í•´ì„œ random.randint()ì‚¬ìš©í•´ì„œ 60~100ì‚¬ì´ 12ê°œ ìˆ«ìë§Œë“¤ê³  reshape()
# index = ['James', 'Maria', 'Brian', 'Elice']
# columns = ['kor', 'eng', 'math']

np.random.seed(2023)
score = np.random.randint(60, 100+1, 12).reshape(4, 3)
index = ['James', 'Maria', 'Brian', 'Elice']
columns = ['kor', 'eng', 'math']
score_df = pd.DataFrame(score, index=index, columns=columns)
score_df

       kor  eng  math
James   83   85    66
Maria   93   88    63
Brian   82   97    92
Elice   82   77    73

In [ ]:
# select row
# row indexë¥¼ ì‚¬ìš©í•˜ì—¬ í–‰ 1ê°œë¥¼ ì„ íƒ
df3 = score_df[:]
mar1 = df3.loc['Maria'] # location
mar2 = df3.iloc[1] # integer location 

print(mar1)
print(mar2)
print(mar1 == mar2)

kor     93
eng     88
math    63
Name: Maria, dtype: int64
kor     93
eng     88
math    63
Name: Maria, dtype: int64
kor     True
eng     True
math    True
Name: Maria, dtype: bool

In [ ]:
label = df3.loc[['Brian', 'Elice']]
label2 = df3.iloc[[2,3]]
print(label)
print(label2)

       kor  eng  math
Brian   82   97    92
Elice   82   77    73
       kor  eng  math
Brian   82   97    92
Elice   82   77    73

In [ ]:
# ì‹¤ìŠµ 3
exam_data = {'ìˆ˜í•™':[90,80,70],
             'ì˜ì–´':[98,89,95],
             'ìŒì•…':[85,95,100],
             'ì²´ìœ¡':[100,90,90]}
exam_data = pd.DataFrame(exam_data, index=['ê¸¸ë™','ì² ìˆ˜','ì˜í¬'])
exam_data
df = exam_data.copy()
df

    ìˆ˜í•™  ì˜ì–´   ìŒì•…   ì²´ìœ¡
ê¸¸ë™  90  98   85  100
ì² ìˆ˜  80  89   95   90
ì˜í¬  70  95  100   90

In [ ]:
# ê¸¸ë™ì˜ ì²´ìœ¡ì ìˆ˜
# ê¸°ì¡´ ì¸ë±ì‹±
print('ë°©ë²• 1: ', df['ì²´ìœ¡'][0])
print('ë°©ë²• 2: ', df['ì²´ìœ¡']['ê¸¸ë™'])
# iloc
print('ë°©ë²• 3: ', df.iloc[0, 3])
# loc
print('ë°©ë²• 4: ', df.loc['ê¸¸ë™', 'ì²´ìœ¡'])
print('ë°©ë²• 5: ', df.loc['ê¸¸ë™']['ì²´ìœ¡'])

# ê¸¸ë™ì˜ ì²´ìœ¡ì ìˆ˜ ë°”ê¾¸ê¸°
df.iloc[0,3] = 90
print(df)

# ì² ìˆ˜ ìŒì•… ì²´ìœ¡ì„ 50ì ìœ¼ë¡œ ë³€ê²½
df.loc['ì² ìˆ˜', 'ìŒì•…':] = 50
print(df)

# ì² ìˆ˜ ìŒì•… ì²´ìœ¡ì„ 100, 50 ìœ¼ë¡œ ë³€ê²½
# df.loc['ì² ìˆ˜', 'ìŒì•…'] = 100
# df.loc['ì² ìˆ˜', 'ì²´ìœ¡'] = 50
df.loc['ì² ìˆ˜', 'ìŒì•…':] = 100, 50
print(df)

ë°©ë²• 1:  100
ë°©ë²• 2:  100
ë°©ë²• 3:  100
ë°©ë²• 4:  100
ë°©ë²• 5:  100
    ìˆ˜í•™  ì˜ì–´   ìŒì•…  ì²´ìœ¡
ê¸¸ë™  90  98   85  90
ì² ìˆ˜  80  89   95  90
ì˜í¬  70  95  100  90
    ìˆ˜í•™  ì˜ì–´   ìŒì•…  ì²´ìœ¡
ê¸¸ë™  90  98   85  90
ì² ìˆ˜  80  89   50  50
ì˜í¬  70  95  100  90
    ìˆ˜í•™  ì˜ì–´   ìŒì•…  ì²´ìœ¡
ê¸¸ë™  90  98   85  90
ì² ìˆ˜  80  89  100  50
ì˜í¬  70  95  100  90

### ğŸ’¡ set_index( )

In [ ]:
# set_index
df.set_index('ìˆ˜í•™', inplace=True)
df

    ì˜ì–´   ìŒì•…  ì²´ìœ¡
ìˆ˜í•™
90  98   85  90
80  89  100  50
70  95  100  90

In [ ]:
# set_index 2
print(exam_data)

ndf1 = exam_data.set_index('ìŒì•…')
ndf2 = exam_data.set_index(['ìˆ˜í•™', 'ìŒì•…'])

print(ndf1)
print(ndf2)

    ìˆ˜í•™  ì˜ì–´   ìŒì•…   ì²´ìœ¡
ê¸¸ë™  90  98   85  100
ì² ìˆ˜  80  89   95   90
ì˜í¬  70  95  100   90
     ìˆ˜í•™  ì˜ì–´   ì²´ìœ¡
ìŒì•…
85   90  98  100
95   80  89   90
100  70  95   90
        ì˜ì–´   ì²´ìœ¡
ìˆ˜í•™ ìŒì•…
90 85   98  100
80 95   89   90
70 100  95   90

### ğŸ’¡ reindex( )

In [ ]:
# reindex
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9],
             'c3':[10,11,12], 'c4':[13,14,15]}
dict_data = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
dict_data

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [ ]:
# ì¸ë±ìŠ¤ë¥¼ ìƒˆë¡œ ì§€ì •í•´ì„œ í–‰ ì¶”ê°€
new_index = ['r0', 'r1', 'r2','r3','r4']
ndf = dict_data.reindex(new_index)
print(ndf)

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [ ]:
# reindexë¡œ ë°œìƒí•œ NaNê°’ì„ 0ìœ¼ë¡œ ì±„ìš°ê¸°
ndf2 = dict_data.reindex(new_index, fill_value=0)

In [ ]:
# reset_index
ndf2 = ndf2.reset_index()
ndf2

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15
3    r3   0   0   0   0   0
4    r4   0   0   0   0   0

### ğŸ’¡ sort_index( )

In [ ]:
# sort_index
ndf2 = ndf2.sort_index(ascending=False)
print(ndf2)

  index  c0  c1  c2  c3  c4
4    r4   0   0   0   0   0
3    r3   0   0   0   0   0
2    r2   3   6   9  12  15
1    r1   2   5   8  11  14
0    r0   1   4   7  10  13

## 5ï¸âƒ£ ë°ì´í„°ì‚­ì œ

### ğŸ”˜ í–‰ì‚­ì œ

In [ ]:
# í–‰ì‚­ì œë¥¼ ìœ„í•´ì„œ ë°ì´í„°í”„ë ˆì„ ë³µì‚¬
df4 = score_df.copy()
df4

       kor  eng  math
James   83   85    66
Maria   93   88    63
Brian   82   97    92
Elice   82   77    73

In [ ]:
df3.drop('Brian', axis=0, inplace=True)
df3.drop(['James', 'Elice'], axis=0)

<ipython-input-73-075d2518bd05>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop('Brian', axis=0, inplace=True)

       kor  eng  math
Maria   93   88    63

In [ ]:
np.random.seed(2023)
df4['music'] = np.random.randint(60, 100, 4)
df5 = df4.copy()

### ğŸ”˜ ì—´ì‚­ì œ

In [ ]:
df5.drop('math', axis=1, inplace=True)
df5

       kor  eng  music
James   83   85     83
Maria   93   88     85
Brian   82   97     66
Elice   82   77     93

In [ ]:
df6 = df4.copy()
df6 = df6.drop(['eng', 'music'], axis=1)
df6

       kor  math
James   83    66
Maria   93    63
Brian   82    92
Elice   82    73

## ğŸ’¡ ê° ì»¬ëŸ¼ì˜ íƒ€ì…ì€?

In [ ]:
# select columns
math1 = df4['math']
print(type(math1))
print(math1)

<class 'pandas.core.series.Series'>
James    66
Maria    63
Brian    92
Elice    73
Name: math, dtype: int64

In [ ]:
# ì˜ì–´ ì»¬ëŸ¼ ì„ íƒ
eng = df4.eng
print(type(eng))
print(eng)
# ìˆ˜í•™, ìŒì•… ì„ íƒ
math_music = df4[['math', 'music']]
print(type(math_music))
print(math_music)

<class 'pandas.core.series.Series'>
James    85
Maria    88
Brian    97
Elice    77
Name: eng, dtype: int64
<class 'pandas.core.frame.DataFrame'>
       math  music
James    66     83
Maria    63     85
Brian    92     66
Elice    73     93

## ğŸ’¡ ì‹œë¦¬ì¦ˆë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€ê²½

In [ ]:
# Series to Dataframe
math2 = df4[['math']]
print(type(math2))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
# Select elements
# maria_music1 = df4['music', 'Maria']
maria_music1 = df4['music']['Maria']
maria_music2 = df4.loc['Maria', 'music']
maria_music3 = df4.iloc[2, 3]
maria_eng_math = df4.loc['Maria', ['eng', 'math']]
maria_eng_math2 = df4.iloc[2, 1:3]

print(maria_music1)
print(maria_music2)
print(maria_music3)
print(maria_eng_math)
print(maria_eng_math2)

# Jamesì˜ ì˜ì–´ ìˆ˜í•™ ìŒì•…ì ìˆ˜ ê°€ì ¸ì˜¤ê¸°
james_loc = df4.loc['James', ['eng', 'math', 'music']]
james_iloc = df4.iloc[0, 1:]

print('Jamesì˜ ì˜ì–´, ìˆ˜í•™, ìŒì•…ì ìˆ˜')
print(james_loc)
print(james_iloc)

# ë§ˆë¦¬ì•„~ì—˜ë¦¬ìŠ¤ì˜ ì˜ì–´~ìŒì•…ì ìˆ˜
iloc = df4.iloc[1:, 1:]
loc = df4.loc[['Maria', 'Brian', 'Elice'], ['eng', 'math', 'music']]
loc2 = df4.loc['Maria': 'Elice', 'eng':'music']
print(iloc)
print(loc)
print(loc2)

85
85
66
eng     88
math    63
Name: Maria, dtype: int64
eng     97
math    92
Name: Brian, dtype: int64
Jamesì˜ ì˜ì–´, ìˆ˜í•™, ìŒì•…ì ìˆ˜
eng      85
math     66
music    83
Name: James, dtype: int64
eng      85
math     66
music    83
Name: James, dtype: int64
       eng  math  music
Maria   88    63     85
Brian   97    92     66
Elice   77    73     93
       eng  math  music
Maria   88    63     85
Brian   97    92     66
Elice   77    73     93
       eng  math  music
Maria   88    63     85
Brian   97    92     66
Elice   77    73     93

In [ ]:
print(df4)

       kor  eng  math  music
James   83   85    66     83
Maria   93   88    63     85
Brian   82   97    92     66
Elice   82   77    73     93

## 6ï¸âƒ£ ë°ì´í„° ì¶”ê°€

In [ ]:
# ì—´ì¶”ê°€ add clolums
df4['gym']  = 90 # ì—†ìœ¼ë©´ ìƒì„±í•˜ê³  ìˆìœ¼ë©´ ìˆ˜ì •

# í–‰ì¶”ê°€
df4.loc[4] = [90, 70, 60, 75, 60]
df4.rename({4:'gildong'})

         kor  eng  math  music  gym
James     83   85    66     83   90
Maria     93   88    63     85   90
Brian     82   97    92     66   90
Elice     82   77    73     93   90
gildong   90   70    60     75   60

## 7ï¸âƒ£ ë°ì´í„° ì •ë ¬

### ğŸ”˜ sort_values()

In [ ]:
# íŠ¹ì • ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ
ndf3 = ndf2.sort_values(by='c1', ascending=False)
ndf3

  index  c0  c1  c2  c3  c4
2    r2   3   6   9  12  15
1    r1   2   5   8  11  14
0    r0   1   4   7  10  13
4    r4   0   0   0   0   0
3    r3   0   0   0   0   0

### ğŸ’¡ transpose ( )

In [ ]:
# transpose()ë¥¼ í•˜ëŠ” ë‘ê°€ì§€ ë°©ë²•
print(df)
transpose1 = df.transpose()
transpose2 = df.T

print('\ndf.transpose() :\n', transpose1)
print('\ndf.T :\n',transpose2)

    ì˜ì–´   ìŒì•…  ì²´ìœ¡
ìˆ˜í•™
90  98   85  90
80  89  100  50
70  95  100  90

df.transpose() :
 ìˆ˜í•™  90   80   70
ì˜ì–´  98   89   95
ìŒì•…  85  100  100
ì²´ìœ¡  90   50   90

df.T :
 ìˆ˜í•™  90   80   70
ì˜ì–´  98   89   95
ìŒì•…  85  100  100
ì²´ìœ¡  90   50   90

## 8ï¸âƒ£ ë°ì´í„° ì—°ì‚°

### ğŸ”˜ ì‹œë¦¬ì¦ˆ

In [ ]:
# ì‹œë¦¬ì¦ˆ ì„ ì–¸
student1 = pd.Series({'êµ­ì–´':100, 'ì˜ì–´':80, 'ìˆ˜í•™':90})
student2 = pd.Series({'ìˆ˜í•™':80, 'êµ­ì–´':90, 'ì˜ì–´':80})

# ê³¼ëª©ë³„ë¡œ ì ìˆ˜ë¥¼ 200ìœ¼ë¡œ ë‚˜ëˆ„ê¸°
percentage = student1 / 200
print(percentage, type(percentage))



# ì‹œë¦¬ì¦ˆ ì‚¬ì¹™ì—°ì‚° 1 : ì‹œë¦¬ì¦ˆê°„
# ê²°ì¸¡ì¹˜ê°€ ì—†ëŠ” ê²½ìš°
add = student1 + student2
sub = student1 - student2
mul = student1 * student2
div = student1 / student2

result = pd.DataFrame([add, sub, mul, div], index=['ë§ì…ˆ', 'ëº„ì…ˆ', 'ê³±ì…ˆ', 'ë‚˜ëˆ—ì…ˆ'])
print(result)

# ê²°ì¸¡ì¹˜ê°€ ìˆëŠ”ê²½ìš° - ê²°ì¸¡ì¹˜ + ê°’ = ê²°ì¸¡ì¹˜
student1 = pd.Series({'êµ­ì–´':np.nan, 'ì˜ì–´':80, 'ìˆ˜í•™':90})
student2 = pd.Series({'ìˆ˜í•™':80, 'êµ­ì–´':90, 'ì˜ì–´':80})

add = student1 + student2
sub = student1 - student2
mul = student1 * student2
div = student1 / student2

result = pd.DataFrame([add, sub, mul, div], index=['ë§ì…ˆ', 'ëº„ì…ˆ', 'ê³±ì…ˆ', 'ë‚˜ëˆ—ì…ˆ'])
print(result)

êµ­ì–´    0.50
ì˜ì–´    0.40
ìˆ˜í•™    0.45
dtype: float64 <class 'pandas.core.series.Series'>
              êµ­ì–´        ìˆ˜í•™      ì˜ì–´
ë§ì…ˆ    190.000000   170.000   160.0
ëº„ì…ˆ     10.000000    10.000     0.0
ê³±ì…ˆ   9000.000000  7200.000  6400.0
ë‚˜ëˆ—ì…ˆ     1.111111     1.125     1.0
     êµ­ì–´        ìˆ˜í•™      ì˜ì–´
ë§ì…ˆ  NaN   170.000   160.0
ëº„ì…ˆ  NaN    10.000     0.0
ê³±ì…ˆ  NaN  7200.000  6400.0
ë‚˜ëˆ—ì…ˆ NaN     1.125     1.0

In [ ]:
# ì‹œë¦¬ì¦ˆ ì‚¬ì¹™ì—°ì‚°2 : ì—°ì‚°ë©”ì†Œë“œ ì‚¬ìš©
add = student1.add(student2, fill_value=0) # ë§ì…ˆ
sub = student1.sub(student2, fill_value=0) # ëº„ì…ˆ
mul = student1.mul(student2, fill_value=0) # ê³±ì…ˆ
div = student1.div(student2, fill_value=0) # ë‚˜ëˆ—ì…ˆ

result = pd.DataFrame([add, sub, mul, div], index=['ë§ì…ˆ', 'ëº„ì…ˆ', 'ê³±ì…ˆ', 'ë‚˜ëˆ—ì…ˆ'])
result

       êµ­ì–´        ìˆ˜í•™      ì˜ì–´
ë§ì…ˆ   90.0   170.000   160.0
ëº„ì…ˆ  -90.0    10.000     0.0
ê³±ì…ˆ    0.0  7200.000  6400.0
ë‚˜ëˆ—ì…ˆ   0.0     1.125     1.0

### ğŸ”˜ ë°ì´í„°í”„ë ˆì„

In [ ]:
df = pd.DataFrame({'a1':[1, 11, 111], 'a2':[2, 22, 222], 'a3':[3, 33, np.nan]})
df

    a1   a2    a3
0    1    2   3.0
1   11   22  33.0
2  111  222   NaN

In [ ]:
# ë°ì´í„°í”„ë ˆì„ì— ì‚¬ì¹™ì—°ì‚°
new_df = df + 10
new_df # ê²°ê³¼: ì „ì²´ ê°’ì— 10 ì¶”ê°€ (ê²°ì¸¡ê°’ì´ ìˆë˜ ê³³ì€ ì—°ì‚° X -> ê·¸ëŒ€ë¡œ ê²°ì¸¡ê°’ìœ¼ë¡œ ë‚¨ìŒ)

    a1   a2    a3
0   11   12  13.0
1   21   32  43.0
2  121  232   NaN

In [ ]:
# ë°ì´í„°í”„ë ˆì„ë¼ë¦¬ ì—°ì‚°
new_df - df

   a1  a2    a3
0  10  10  10.0
1  10  10  10.0
2  10  10   NaN