<a href="https://colab.research.google.com/github/Tazoria/TIL/blob/main/data_analysis/basic/03_Pandas_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

# üíï Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨

In [ ]:
df = sns.load_dataset('titanic')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

## üí° Í≤∞Ï∏°Ïπò
- Í≤∞Ï∏°ÏπòÎ•º Ï≤òÎ¶¨ÌïòÎäî Í∞Å Î∞©Î≤ïÏóêÎäî Í∑ºÍ±∞Í∞Ä ÌïÑÏöî(Í∑ºÍ±∞ ÏóÜÏù¥ ÌïòÎäî Í≤ΩÏö∞ ÏúÑÌóò)
- Î∞©Î≤ï
  - ÏÇ≠Ï†ú
  - ÎåÄÏπò
    - ÌèâÍ∑†
    - ÏµúÎπàÍ∞í
    - Ï†ÑÌõÑÍ∞í

In [ ]:
# Í≤∞Ï∏°Ïπò ÌôïÏù∏
print(df.isnull().sum())
# deckÏó¥Ïùò Nan Í∞úÏàò Í≥ÑÏÇ∞ÌïòÍ∏∞
nan_deck = df['deck'].value_counts(dropna=False)
print(nan_deck)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
NaN    688
C       59
B       47
D       33
E       32
A       15
F       13
G        4
Name: deck, dtype: int64

In [ ]:
# Í≤∞Ï∏°Í∞íÏù¥ ÏïÑÎãå Í∞íÎì§Ïùò Í∞úÏàò
df.notnull().sum(axis=1) # ÌñâÎ≥ÑÎ°ú ÌôïÏù∏Ìï¥Î≥¥Í∏∞

0      14
1      15
2      14
3      15
4      14
       ..
886    14
887    15
888    13
889    15
890    14
Length: 891, dtype: int64

In [ ]:
# Í≤∞Ï∏°Ïπò ÌôïÏù∏ forÎ∞òÎ≥µÎ¨∏ ÏúºÎ°ú Í∞Å Ïó¥Ïùò Nan Í∞úÏàò Í≥ÑÏÇ∞
missing_df = df.isnull()
for col in missing_df.columns:
  missing_count = missing_df[col].value_counts()
  try:
    print(col, ':', missing_count[True]) # Nan Í∞íÏù¥ ÏûàÏúºÎ©¥ Í∞úÏàòÎ•º Ï∂úÎ†•
  except:
    print(col, ':', missing_count[0])

survived : 891
pclass : 891
sex : 891
age : 177
sibsp : 891
parch : 891
fare : 891
embarked : 2
class : 891
who : 891
adult_male : 891
deck : 688
embark_town : 2
alive : 891
alone : 891

### 1Ô∏è‚É£ ÏÇ≠Ï†ú

In [ ]:
# NanÍ∞íÏù¥ 500Í∞ú Ïù¥ÏÉÅÏù∏ Ïó¥ÏùÑ Î™®Îëê ÏÇ≠Ï†ú - deckÏó¥(891Ï§ë 688Í∞ú Nan) ÏÇ≠Ï†ú
# threshold ÏòµÏÖòÏù¥ ÏóÜÏúºÎ©¥ Í≤∞Ï∏°ÏπòÎ•º Î™®Îëê ÎìúÎûç, threshold Í∞íÏùÑ ÎÑ£Ïñ¥Ï£ºÎ©¥ Ìï¥Îãπ Í∞íÎ≥¥Îã§ Í≤∞Ï∏°Í∞íÏù¥ ÎßéÏùÄ Îç∞Ïù¥ÌÑ∞Îì§Îßå ÎìúÎûç
# Ïª¨Îüº ÏßÄÏö∞Í∏∞
df_tresh = df.dropna(axis=1, thresh=500)
print(len(df_tresh.columns))
print(df_tresh.columns)

14
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

In [ ]:
# Ìñâ ÏßÄÏö∞Í∏∞ - Îç∞Ïù¥ÌÑ∞Î•º ÏµúÎåÄÌïú ÏÇ¥Î¶¨Í∏∞!
# Ï∂îÍ∞ÄÎ°ú ageÏó¥Ïóê ÎÇòÏù¥ Îç∞Ïù¥ÌÑ∞Í∞Ä ÏóÜÎäî Î™®Îì† ÌñâÏùÑ ÏÇ≠Ï†ú 
df_age = df_tresh.dropna(subset=['age'], how='any', axis=0)
df_age.isnull().sum() # dropnaÎ•º Í∑∏ÎÉ• Ï†ÅÏö©ÌñàÏùÑ ÎïåÎ≥¥Îã§ 4Í∞úÏùò Í∞íÏùÄ ÏÇ¥Î¶º(Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî embared(2), embark_town(2))

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    2
alive          0
alone          0
dtype: int64

### 2Ô∏è‚É£ ÌèâÍ∑†Í∞íÏúºÎ°ú ÎåÄÏ≤¥

In [ ]:
# age Ïó¥Ïùò NanÍ∞íÏùÑ Îã§Î•∏ ÎÇòÏù¥ Îç∞Ïù¥ÌÑ∞Ïùò ÌèâÍ∑†ÏúºÎ°ú Î≥ÄÍ≤Ω
mean_age = df['age'].mean(axis=0) # ageÏó¥Ïùò ÌèâÍ∑†ÏùÑ Í≥ÑÏÇ∞(NANÍ∞íÏùÑ Ï†úÏô∏)
df['age'].fillna(mean_age, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

### 3Ô∏è‚É£ ÏµúÎπàÍ∞í ÎåÄÏ≤¥

In [ ]:
# embark_town(ÏäπÏÑ†ÏßÄ)Ïùò Í≤∞Ï∏°ÏπòÎ•º ÏµúÎπàÍ∞íÏúºÎ°ú Ï±ÑÏö∞Í∏∞
# idxmax: xÏ∂ïÏóêÏÑú ÏµúÎåÄÍ∞íÏùò Ïù∏Îç±Ïä§Î•º Î∞òÌôò
most_freq = df['embark_town'].value_counts(dropna=True).idxmax()
print(most_freq)

# ÌäπÏ†ï Íµ¨Ïó≠Ïùò ÏµúÎπàÍ∞íÏúºÎ°ú ÎåÄÏπòÎèÑ Í∞ÄÎä• - ÌäπÏ†ïÌïúÍ≤ΩÏö∞(Ïòà: Îç∞Ïù¥ÌÑ∞Í∞Ä Ï†ïÎ†¨ÎêòÏñ¥ÏûàÏñ¥ÏÑú Ïù∏Îç±Ïã± ÌñàÏùÑ Îïå Ï†ïÌôïÌï¥ÏßÄÎäîÍ≤ΩÏö∞)
# df['embark_town'][825:] ÏãùÏúºÎ°ú Ïù∏Îç±Ïã± Ìï¥Ï£ºÎ©¥ Îê®!

Southampton

In [ ]:
df['embark_town'].fillna(most_freq, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  891 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

### 4Ô∏è‚É£ Ï†ÑÌõÑÎ∞© ÎåÄÏπò

In [ ]:
# embarked Ïó¥Ïùò Nan Í∞íÏùÑ Î∞îÎ°ú ÏïûÏóê ÏûàÎäî Í∞íÏúºÎ°ú Î≥ÄÍ≤Ω
# ÌõÑÎ∞©ÎåÄÏπòÎäî 'bfill'
df['embarked'].fillna(method='ffill', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  891 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

## üí° Ï§ëÎ≥µ Îç∞Ïù¥ÌÑ∞
- Ï§ëÎ≥µÎç∞Ïù¥ÌÑ∞ Ï°∞Ìöå : duplicated()
- Ï§ëÎ≥µÎç∞Ïù¥ÌÑ∞ ÏÇ≠Ï†ú : drop_duplicates(subset=[])

In [ ]:
# Ï§ëÎ≥µÎç∞Ïù¥ÌÑ∞Î•º Í∞ñÎäî Îç∞Ïù¥ÌÑ∞ Ï∞æÍ∏∞
df2 = pd.DataFrame({'c1':['a','a','b','a','b'],
                   'c2':[1,1,1,2,2],
                   'c3':[1,1,2,2,2]})
df2

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [ ]:
# duplicated()
df_dup = df2.duplicated()
print(df_dup)

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [ ]:
# Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò ÌäπÏ†ï Ïó¥ÏóêÏÑú Îç∞Ïù¥ÌÑ∞ Ï§ëÎ≥µÍ∞íÏùÑ Ï∞æÍ∏∞
col_dup = df2['c2'].duplicated()
print(col_dup)

0    False
1     True
2     True
3    False
4     True
Name: c2, dtype: bool

In [ ]:
# Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏóêÏÑú Ï§ëÎ≥µÌñâÏ†úÍ±∞
df3 = df2.drop_duplicates()
print(df3)

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [ ]:
# c2, c3Ïó¥ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ï§ëÎ≥µÌñâÏ†úÍ±∞
df4 = df2.drop_duplicates(subset=['c2','c3'])
df4

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2

## üí° Í∞í Î≥ÄÌôò (conversion)

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/class/·Ñë·Ö°·Ü´·ÑÉ·Ö°·Ñâ·Ö≥data/auto-mpg.csv', header=None)
df.head()
df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'name']
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

### 1Ô∏è‚É£ Í∏∞Ï°¥ Í∞íÏùÑ Ïù¥Ïö©Ìï¥ ÌååÏÉùÎ≥ÄÏàò ÏÉùÏÑ±

In [ ]:
# mpg(mile per gallon)Î•º kpl(kilometer per liter)Î°ú Î≥ÄÌôòÌïòÏó¨ ÏÉùÏÑ±(mpg_to_kpl = 0.425)
mpg_to_kpl = 1.60934 / 3.78541

# mpgÏó¥Ïóê 0.425Î•º Í≥±Ìï¥ÏÑú ÏÉàÎ°úÏö¥ kpl Ïª¨ÎüºÏùÑ ÏÉùÏÑ± - ÏÜåÏà´Ï†ê ÏïÑÎûò ÎëòÏß∏ÏûêÎ¶¨ÍπåÏßÄ Î∞òÏò¨Î¶º
df['kpl'] = round(df['mpg'] * mpg_to_kpl, 2)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name,kpl
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu,7.65
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,6.38
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,7.65
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst,6.80
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino,7.23

### 2Ô∏è‚É£ ÏûêÎ£åÌòï Î≥ÄÌôò

In [ ]:
# ÏûêÎ£åÌòï ÌôïÏù∏
df.dtypes # horsepowerÍ∞Ä objectÌòï

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
name             object
kpl             float64
dtype: object

In [ ]:
# horseÏó¥Ïùò Í≥†Ïú†Í∞í ÌôïÏù∏
# ÎàÑÎùΩÎç∞Ïù¥ÌÑ∞('?') ÏÇ≠Ï†ú ÌïÑÏöî
# Ïó∞ÏÜçÌòï ÏàòÏπòÍ∞íÎì§Î°ú Íµ¨ÏÑ± - floatÌòïÏúºÎ°ú ÌòïÎ≥ÄÌôò ÌïÑÏöî
print(df['horsepower'].unique())

['130.0' '165.0' '150.0' '140.0' '198.0' '220.0' '215.0' '225.0' '190.0'
 '170.0' '160.0' '95.00' '97.00' '85.00' '88.00' '46.00' '87.00' '90.00'
 '113.0' '200.0' '210.0' '193.0' '?' '100.0' '105.0' '175.0' '153.0'
 '180.0' '110.0' '72.00' '86.00' '70.00' '76.00' '65.00' '69.00' '60.00'
 '80.00' '54.00' '208.0' '155.0' '112.0' '92.00' '145.0' '137.0' '158.0'
 '167.0' '94.00' '107.0' '230.0' '49.00' '75.00' '91.00' '122.0' '67.00'
 '83.00' '78.00' '52.00' '61.00' '93.00' '148.0' '129.0' '96.00' '71.00'
 '98.00' '115.0' '53.00' '81.00' '79.00' '120.0' '152.0' '102.0' '108.0'
 '68.00' '58.00' '149.0' '89.00' '63.00' '48.00' '66.00' '139.0' '103.0'
 '125.0' '133.0' '138.0' '135.0' '142.0' '77.00' '62.00' '132.0' '84.00'
 '64.00' '74.00' '116.0' '82.00']

In [ ]:
# ÎàÑÎùΩÎç∞Ïù¥ÌÑ∞('?') ÏÇ≠Ï†ú
df['horsepower'].replace('?', np.nan, inplace=True)
print(df.isnull().sum())

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
name            0
kpl             0
dtype: int64

In [ ]:
df.dropna(subset=['horsepower'], axis=0, inplace=True)
print(df.isnull().sum())

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
name            0
kpl             0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    object
 4   weight        392 non-null    float64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   name          392 non-null    object
 9   kpl           392 non-null    float64
dtypes: float64(5), int64(3), object(2)
memory usage: 33.7+ KB

In [ ]:
# horsepowerÏó¥ ÌòïÎ≥ÄÌôò(float)
df['horsepower'] = df['horsepower'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    float64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   name          392 non-null    object
 9   kpl           392 non-null    float64
dtypes: float64(6), int64(3), object(1)
memory usage: 33.7+ KB

In [ ]:
# originÏó¥Ïùò Í≥†Ïú†Í∞íÏùÑ ÌôïÏù∏ - Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞Î°ú Î≥ÄÌôò ÌïÑÏöî
df['origin'].unique()

array([1, 3, 2])

In [ ]:
df['origin'].replace({1:'USA', 2:'EU', 3:'JAPAN'}, inplace=True)
df['origin'].unique()

array(['USA', 'JAPAN', 'EU'], dtype=object)

In [ ]:
# ÌÉÄÏûÖ ÌôïÏù∏Ìï¥Î≥¥Í∏∞
print(df['origin'].dtypes)

object

In [ ]:
# origin Ïó¥Ïùò Î¨∏ÏûêÏó¥ ÏûêÎ£åÌòïÏùÑ Î≤îÏ£ºÌòïÏúºÎ°ú Î≥ÄÌôò - astype('str')ÏùÑ Ìï¥Ï£ºÎ©¥ Ïπ¥ÌÖåÍ≥†Î¶¨ÌòïÏùÑ Î∞òÎåÄÎ°ú Ïò§Î∏åÏ†ùÌä∏ÌòïÏúºÎ°ú Î≥ÄÌôò Í∞ÄÎä•
df['origin'] = df['origin'].astype('category')
print(df['origin'].dtypes)

category

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    float64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    category
 8   name          392 non-null    object
 9   kpl           392 non-null    float64
dtypes: category(1), float64(6), int64(2), object(1)
memory usage: 31.1+ KB

In [ ]:
# model yearÏóêÏÑú ÎûúÎç§ÏúºÎ°ú 3Í∞úÎ•º ÎΩëÏïÑ ÏÉùÍπÄÏÉà ÌôïÏù∏ÌïòÍ∏∞
df['model year'].sample(3) # sample()Ï†ÅÏö©Ïãú [Ïù∏Îç±Ïä§, Í∞í]ÏúºÎ°ú Ï∂úÎ†•

277    78
87     73
67     72
Name: model year, dtype: int64

In [ ]:
# model yearÏ†ïÏàòÎ•º Î≤îÏ£ºÌòïÏúºÎ°ú Î≥ÄÌôò(model year: 76, 80 Îì±)
df['model year'] = df['model year'].astype('category')
df['model year'].sample(3)

388    82
81     72
130    74
Name: model year, dtype: category
Categories (13, int64): [70, 71, 72, 73, ..., 79, 80, 81, 82]

### 3Ô∏è‚É£ ÏàòÏπòÌòïÎç∞Ïù¥ÌÑ∞Î•º Î≤îÏ£ºÌôî(feat. cut( ), np.histogram( , bins= ))

#### üîò Îã®Ïàú Î≤îÏ£ºÌôî : np.histogram( , bins= ) & cut( )

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    float64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    category
 7   origin        392 non-null    category
 8   name          392 non-null    object
 9   kpl           392 non-null    float64
dtypes: category(2), float64(6), int64(1), object(1)
memory usage: 29.1+ KB

In [ ]:
# horsepowerÎ•º 3Í∞úÏùò Îì±Í∏âÏúºÎ°ú ÎÇòÎàÑÍ∏∞
# np.histogram Ìï®ÏàòÎ°ú 3Í∞úÏùò binÏúºÎ°ú ÎÇòÎàÑÎäî Í≤ΩÍ≥Ñ Í∞íÏùò Î¶¨Ïä§Ìä∏ Íµ¨ÌïòÍ∏∞
count, bin_dividers = np.histogram(df['horsepower'], bins=3)
print(bin_dividers)

[ 46.         107.33333333 168.66666667 230.        ]

In [ ]:
# 3Í∞úÏùò binsÏóê Ïù¥Î¶Ñ ÏßÄÏ†ï
bin_name = ['Ï†ÄÏ∂úÎ†•', 'Î≥¥ÌÜµÏ∂úÎ†•', 'Í≥†Ï∂úÎ†•']
# cut Ìï®ÏàòÎ°ú Í∞Å Îç∞Ïù¥ÌÑ∞Î•º 3Í∞úÏùò binÏóê Ìï†Îãπ
df['hp_bin'] = pd.cut(x=df['horsepower'],
                      bins=bin_dividers, # Í≤ΩÍ≥ÑÍ∞í Î¶¨Ïä§Ìä∏
                      labels=bin_name, # Ìï¥ÎãπÍµ¨Í∞Ñ Ïù¥Î¶Ñ
                      include_lowest=True) # Ï≤´ Í≤ΩÍ≥ÑÍ∞íÏùò Ìè¨Ìï®Ïó¨Î∂Ä)
print(df[['horsepower', 'hp_bin']].head(10))

   horsepower hp_bin
0       130.0   Î≥¥ÌÜµÏ∂úÎ†•
1       165.0   Î≥¥ÌÜµÏ∂úÎ†•
2       150.0   Î≥¥ÌÜµÏ∂úÎ†•
3       150.0   Î≥¥ÌÜµÏ∂úÎ†•
4       140.0   Î≥¥ÌÜµÏ∂úÎ†•
5       198.0    Í≥†Ï∂úÎ†•
6       220.0    Í≥†Ï∂úÎ†•
7       215.0    Í≥†Ï∂úÎ†•
8       225.0    Í≥†Ï∂úÎ†•
9       190.0    Í≥†Ï∂úÎ†•

#### üîò ÏõêÌï´Ïù∏ÏΩîÎî©

In [ ]:
df_dummies = pd.get_dummies(df, columns=['hp_bin'])
df_dummies

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name,kpl,hp_bin_Ï†ÄÏ∂úÎ†•,hp_bin_Î≥¥ÌÜµÏ∂úÎ†•,hp_bin_Í≥†Ï∂úÎ†•
0,18.0,8,307.0,130.0,3504.0,12.0,70,USA,chevrolet chevelle malibu,7.65,0,1,0
1,15.0,8,350.0,165.0,3693.0,11.5,70,USA,buick skylark 320,6.38,0,1,0
2,18.0,8,318.0,150.0,3436.0,11.0,70,USA,plymouth satellite,7.65,0,1,0
3,16.0,8,304.0,150.0,3433.0,12.0,70,USA,amc rebel sst,6.80,0,1,0
4,17.0,8,302.0,140.0,3449.0,10.5,70,USA,ford torino,7.23,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,USA,ford mustang gl,11.48,1,0,0
394,44.0,4,97.0,52.0,2130.0,24.6,82,EU,vw pickup,18.71,1,0,0
395,32.0,4,135.0,84.0,2295.0,11.6,82,USA,dodge rampage,13.60,1,0,0
396,28.0,4,120.0,79.0,2625.0,18.6,82,USA,ford ranger,11.90,1,0,0
397,31.0,4,119.0,82.0,2720.0,19.4,82,USA,chevy s-10,13.18,1,0,0

In [ ]:
from sklearn import preprocessing
# LabelEnocder
label_encoder = preprocessing.LabelEncoder()

onehot_labeled = df.copy()
onehot_labeled['hp_bin'] = label_encoder.fit_transform(onehot_labeled['hp_bin'])
onehot_labeled.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name,kpl,hp_bin
0,18.0,8,307.0,130.0,3504.0,12.0,70,USA,chevrolet chevelle malibu,7.65,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,USA,buick skylark 320,6.38,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,USA,plymouth satellite,7.65,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,USA,amc rebel sst,6.80,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,USA,ford torino,7.23,1

In [ ]:
# OneHotEncoder
# onehot_encoder = preprocessing.OneHotEncoder()

# onehot = df.copy()
# onehot['hp_bin'] = label_encoder.fit_transform(onehot['hp_bin'])
# onehot = onehot_encoder.fit_transform(onehot)
# onehot

<392x1194 sparse matrix of type '<class 'numpy.float64'>'
	with 4312 stored elements in Compressed Sparse Row format>

## üí° ÏãúÍ≥ÑÏó¥

In [ ]:
# Ï£ºÏãùÎç∞Ïù¥ÌÑ∞(2018.06.01~2018.07.02)
df = pd.read_csv('/content/drive/MyDrive/class/·Ñë·Ö°·Ü´·ÑÉ·Ö°·Ñâ·Ö≥data/stock-data.csv')
df.head()

         Date  Close  Start   High    Low  Volume
0  2018-07-02  10100  10850  10900  10000  137977
1  2018-06-29  10700  10550  10900   9990  170253
2  2018-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2018-06-26  10800  10900  11000  10700   63039

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     object
 1   Close   20 non-null     int64
 2   Start   20 non-null     int64
 3   High    20 non-null     int64
 4   Low     20 non-null     int64
 5   Volume  20 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB

In [ ]:
# ÎÇ†ÏßúÎ•º Ïò§Î∏åÏ†ùÌä∏ -> ÎÇ†Ïßú ÌÉÄÏûÖÏúºÎ°ú Î≥ÄÍ≤Ω
# ÎÇ†ÏßúÎ•º Ïù∏Îç±Ïä§Î°ú Î≥ÄÍ≤Ω
df['new_date'] = pd.to_datetime(df['Date'])
df.set_index('new_date', inplace=True)
df.drop('Date', axis=1, inplace=True)
df.head()

            Close  Start   High    Low  Volume
new_date
2018-07-02  10100  10850  10900  10000  137977
2018-06-29  10700  10550  10900   9990  170253
2018-06-28  10400  10900  10950  10150  155769
2018-06-27  10900  10800  11050  10500  133548
2018-06-26  10800  10900  11000  10700   63039

In [ ]:
dates = ['2019-01-01', '2020-03-01', '2021-06-01']
ts_dates = pd.to_datetime(dates)
print(ts_dates)

# TimestampÎ•º periodÎ°ú Î≥ÄÌôò
pr_day = ts_dates.to_period(freq='D')
print(pr_day)
pr_month = ts_dates.to_period(freq='M')
print(pr_day)
pr_year = ts_dates.to_period(freq='A')
print(pr_day)

DatetimeIndex(['2019-01-01', '2020-03-01', '2021-06-01'], dtype='datetime64[ns]', freq=None)
PeriodIndex(['2019-01-01', '2020-03-01', '2021-06-01'], dtype='period[D]')
PeriodIndex(['2019-01-01', '2020-03-01', '2021-06-01'], dtype='period[D]')
PeriodIndex(['2019-01-01', '2020-03-01', '2021-06-01'], dtype='period[D]')

In [ ]:
# timestampÏùò Î∞∞Ïó¥ ÎßåÎì§Í∏∞(ÎÇ†Ïßú Î≤îÏúÑ ÎßåÎì§Í∏∞) - ÏõîÍ∞ÑÍ≤©, ÏõîÏùò ÏãúÏûëÏùº Í∏∞Ï§Ä
ts_ms = pd.date_range(start='2019-01-01', # start: ÏãúÏûëÎÇ†Ïßú
                      end=None, # end:Ï¢ÖÎ£åÎÇ†Ïßú
                      periods=6,
                      freq='MS', # freq: ÏãúÍ∞Ñ Í∞ÑÍ≤© ('MS': ÏõîÏùò ÏãúÏûëÏùº)
                      tz='Asia/Seoul' # ÏãúÍ∞ÑÎåÄ ÏßÄÏó≠
                      )

print(len(ts_ms))
print(ts_ms)

6
DatetimeIndex(['2019-01-01 00:00:00+09:00', '2019-02-01 00:00:00+09:00',
               '2019-03-01 00:00:00+09:00', '2019-04-01 00:00:00+09:00',
               '2019-05-01 00:00:00+09:00', '2019-06-01 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='MS')

In [ ]:
# ÏõîÍ∞ÑÍ≤©, ÏõîÏùò ÎßàÏßÄÎßâ ÎÇ† Í∏∞Ï§Ä
ts_me = pd.date_range(start='2019-01-01',
                      periods=6,
                      freq='M',
                      tz='Asia/Seoul',)
print(len(ts_me))
print(ts_me)

6
DatetimeIndex(['2019-01-31 00:00:00+09:00', '2019-02-28 00:00:00+09:00',
               '2019-03-31 00:00:00+09:00', '2019-04-30 00:00:00+09:00',
               '2019-05-31 00:00:00+09:00', '2019-06-30 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='M')

In [ ]:
# Î∂ÑÍ∏∞(3Í∞úÏõî), Í∞ÑÍ≤©, ÏõîÏùò ÎßàÏßÄÎßâÎÇ† Í∏∞Ï§Ä
ts_3m = pd.date_range(start='2019-01-01',
                      periods=6,
                      freq='3M',
                      tz='Asia/Seoul',)
print(len(ts_3m))
print(ts_3m)

6
DatetimeIndex(['2019-01-31 00:00:00+09:00', '2019-04-30 00:00:00+09:00',
               '2019-07-31 00:00:00+09:00', '2019-10-31 00:00:00+09:00',
               '2020-01-31 00:00:00+09:00', '2020-04-30 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='3M')