<a href="https://colab.research.google.com/github/Tazoria/TIL/blob/main/data_analysis/basic/03_Pandas_%EA%B8%B0%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 💕 Pandas

In [ ]:
import pandas as pd
# panel datas의 약자

## 1️⃣ 생성 방법

In [ ]:
# 딕셔너리: 키->인덱스, 값->값
dict_data = {'a': 1, 'b':2, 'c':3}
sr = pd.Series(dict_data)
print(type(dict_data))
print(type(sr))
sr

<class 'dict'>
<class 'pandas.core.series.Series'>

a    1
b    2
c    3
dtype: int64

In [ ]:
# 리스트: 인덱스->인덱스, 값->값
list_data = ['2018-01-01', 3.14, 'abc', 100, True]
sr_lis = pd.Series(list_data)
sr_lis

0    2018-01-01
1          3.14
2           abc
3           100
4          True
dtype: object

In [ ]:
idx = sr_lis.index
val = sr_lis.values

print(idx, val)

RangeIndex(start=0, stop=5, step=1) ['2018-01-01' 3.14 'abc' 100 True]

In [ ]:
# 튜플도 동일
tup_data = ('영인', '2010-05-01', '여', True)
sr_tup = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
sr_tup

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

## 2️⃣ 데이터 선택

In [ ]:
# 원소를 1개 선택하는 2가지 방식
print(sr_tup[0]) # 정수형 위치 인덱스를 활용
print(sr_tup['이름']) # 이름'라벨'을 가진 원소를 선택(인덱스 이름을 활용)

# 여러 원소를 선택하는 2가지 방식
print(sr_tup[[1, 2]]) # [] 로만 가져오면 멀티인덱스 에러 뜸 - 여러가지 갖고올 경우 리스트 형식으로 줘야함
print(sr_tup[['이름', '생년월일']])

영인
영인
생년월일    2010-05-01
성별               여
dtype: object
이름              영인
생년월일    2010-05-01
dtype: object

In [ ]:
# 9904312, 3448737, 2890451, 2466052 - 서울, 부산, 인천, 대구 인구
pop = [9904312, 3448737, 2890451, 2466052]
city = ['서울', '부산', '인천', '대구']

# 1. 시리즈 생성
sr = pd.Series(pop, index=city)
print(sr)
# 2. 인덱싱 부산 2가지방식
print(sr[1])
print(sr['부산'])

# 3. 부산과 대구 인덱싱 2가지 방식
print(sr[[1, 3]], sr[['부산', '대구']])

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64
3448737
3448737
부산    3448737
대구    2466052
dtype: int64 부산    3448737
대구    2466052
dtype: int64

In [ ]:
for key, value in sr.items():
  print(f'key는 {key}이고 value는 {value}다.')

key는 서울이고 value는 9904312다.
key는 부산이고 value는 3448737다.
key는 인천이고 value는 2890451다.
key는 대구이고 value는 2466052다.

## 💡 시리즈

In [ ]:
# 시리즈는 넘파이 1차원 배열로 변환된다.
sr/1000000

# 딕셔너리는 아래와 같은 연산이 안됨! - 반복문 써야함 ㅠ.ㅠ
# dict_sr = {'서울':9999999, '부산':3333333}
# dict_sr/1000

서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
dtype: float64

In [ ]:
sr2 = pd.Series({'서울':9631482, '부산':3393191, '인천':2632035, '대전':1490158})

In [ ]:
sr-sr2

# 연산이 안 되는 것의 결과는 NaN(Not a Number, 결측치)
# np.naa의 데이터 타입은 실수(float)

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

## 3️⃣ 관련 메소드

In [ ]:
sr.index, sr.values

(Index(['서울', '부산', '인천', '대구'], dtype='object'),
 array([9904312, 3448737, 2890451, 2466052]))

In [ ]:
# 엘레먼트의 개수를 세는 메소드
sr.count(), sr2.count()

(4, 4)

In [ ]:
ds = sr - sr2
print(ds.count()) # 3개 나옴: nan의 개수는 세지 않음

3

In [ ]:
# 카테고리의 값 세는 메소드
sr.value_counts()

9904312    1
3448737    1
2890451    1
2466052    1
dtype: int64

In [ ]:
# 값을 세는 메소드 예시
!pip install seaborn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: seaborn in /usr/local/lib/python3.9/dist-packages (0.11.2)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.9/dist-packages (from seaborn) (1.10.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.9/dist-packages (from seaborn) (1.22.4)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.9/dist-packages (from seaborn) (1.4.4)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.9/dist-packages (from seaborn) (3.5.3)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.2->seaborn) (4.39.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.2->seaborn) (23.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.2->seaborn) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.15.0)

In [ ]:
import seaborn as sns

iris = sns.load_dataset('iris')
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
# 카테고리형 자료종류를 알 수 있음
print('unique(): ', iris['species'].unique())
# 각 카테고리별로 몇개 있는지 보자!
print('value_counts(): ', iris.species.value_counts())

unique():  ['setosa' 'versicolor' 'virginica']
value_counts():  setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [ ]:
# 인구데이터
sr.sum(), sr.mean()

(18709552, 4677388.0)

In [ ]:
# 정렬 메소드
sr.sort_values() # default : ascending=True : 오름차순

sr.sort_values(ascending=False) # 내림차순

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64