<a href="https://colab.research.google.com/github/Tazoria/TIL/blob/main/python/01_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 💕 자료형

## 1️⃣ 변수
- 영문 문자와 숫자를 사용할 수 있음
- 대소문자를 구분
- 문자부터 시작해야 하며, 숫자로 시작하면 안됨
- _(under_bar)로 시작할 수 있음
- 특수문자(+, -, *, $ ...)은 변수로 사용할 수 없음
- 파이썬 예약어(if, for, while, and, or) 등은 변수이름으로 사용할 수 없음

In [1]:
a = 3

In [2]:
print(a)

3

In [3]:
a = 4
A = 6
print(a)
print(A)

4
6

In [4]:
# 한번만 사용하는 변수에 주로 사용
_ = 7
print(_)

7

In [5]:
print('hello world')

hello world

In [6]:
# 에약어 사용 불가
import keyword
python_keyword = keyword.kwlist
print(python_keyword)
len(python_keyword)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

36

In [7]:
;# id는 주소값을 나타내는 함수
var1 = 'Hello python'
print(var1)
print(id(var1))

Hello python
140249331738736

In [8]:
var1 = 100
print(var1)
print(id(var1))

100
140249910453712

In [9]:
var2 = 150.25
print(var2)
print(id(var2))

150.25
140249332181776

* print() 함수의 다양한 사용

In [10]:
# 출력 print(value1, value2 ...) : 여러개 값 출력
print('Hello world')
print('Hello', 'world')

Hello world
Hello world

In [11]:
print('홍길동', '김철수', sep='/')

홍길동/김철수

In [12]:
print('1+1', 1+1, sep='=')

1+1=2

In [13]:
food = "python's favorite food is perl"
# 에러: food1 = 'python's favoerite food is perl'
food2 = 'python\'s favorite food is perl'
print(food)
print(food2)

python's favorite food is perl
python's favorite food is perl

In [14]:
say = 'python is very easy. he says'
say1 = '"python is very easy". he says'
# 에러: say2 = ''python is very easy'. he says'
say3 = "\"python is very easy\". he says"
print(say)
print(say1)
print(say3)

python is very easy. he says
"python is very easy". he says
"python is very easy". he says

In [15]:
# type()
var3 = 'Hello python'
print(var3)
print(type(var3))
# str = string = 문자열

Hello python
<class 'str'>

In [16]:
var4 = 100
print(var4)
print(type(var4)) #int = integer = 정수

100
<class 'int'>

In [17]:
var5 = 150.3
print(var5)
print(type(var5)) # float = 실수

150.3
<class 'float'>

In [18]:
var6 = True
print(type(var6)) # boolean = 참 또는 거짓

<class 'bool'>

### 💡 변수명 짓는 방법

In [19]:
# 변수를 만들 때 3가지 방법
# camel표기법, snake표기법, pascal표기법
camelCase = 1
snake_case = 1
PascalCase = 1 # 클래스 만들 때 많이 사용

## 2️⃣ 문자열

In [20]:
multiline = "life is too short \n You need python"
print(multiline)

multiline2 = '''
여러줄의
문장을
한번에 포함시킬 수 있음
'''
print(multiline2)

life is too short
 You need python

여러줄의
문장을
한번에 포함시킬 수 있음

In [21]:
head = 'python'
tail = '    is fun!'
print(head + tail) # -는 안됨! +, * 연산 가능(문자열변수 간 곱연산은 안됨)
print(head * 3)

python    is fun!
pythonpythonpython

### 💡 문자열 인덱싱 & 슬라이싱

In [22]:
a = 'Life is too short, You need python'
print(a[3])
print(a[-1])
print(a[-5])

print(a[5:-1])
print(a[5:-1:2]) # 일정한 간격 추가
print(a[0:3]) # n-1까지만 출력 -> a[0] ~ a[2]까지 출력

# 길이를 넘는 인덱스 참조는 에러 발생(IndexError - string index out of range)

e
n
y
is too short, You need pytho
i o hr,Yune yh
Lif

In [23]:
a = '20230307Rainy'
date = a[0:8]
weather = a[8:]
print(date)
print(weather)

20230307
Rainy

In [24]:
b = 'Hello world'

print(len(b))

print(b[:5])
print(b[6:])
print('-'*50)
# 음수로만 슬라이싱
print('음수로만 슬라이싱')
print('Hello: ')
print(b[-11:-6])
print(b[:-6])
print('world: ')
print(b[-5:])

# 처음부터 끝까지
print(b[:]) 

# 역순으로 출력
print(b[::-1])

11
Hello
world
--------------------------------------------------
음수로만 슬라이싱
Hello:
Hello
Hello
world:
world
Hello world
dlrow olleH

In [25]:
# 중요도 순

# 문자 수 세기 - count()
a = 'hobby'
print(a.count('b'))

# 특정 문자를 찾아 인덱스 반환 - find()
a = 'Python is best program'
print(a.find('b'))
print(a.find('k')) # 없는 경우 -1 반환
# index('찾을문자')의 역할과 비슷하나 이 경우에 해당 문자가 없다면 에러발생
# print(a.index('k'))

# '[]'.join('문자열') - 문자 사이에 [] 삽입  
a = ','.join('abcdefg')
print(a)

# upper(), lower()

# strip() - 필요에 따라 lstrip(), rstrip() 사용
a = '   HI    '
print(a.strip())

# replace() < 중요 >
a = 'Java is best program'
replaced = a.replace('Java', 'Python') # 대소문자 구분!
print(replaced)

# split() < 중요 >
a.split() # default: /s 기준 split
phone = '010-1234-5678'
phone_split = phone.split('-')
print(phone_split)
email = 'abcd@naver.com'
email_split = email.split('@')
print(email_split)

2
10
-1
a,b,c,d,e,f,g
HI
Python is best program
['010', '1234', '5678']
['abcd', 'naver.com']

In [26]:
# 퀴즈1) ['naver', 'com'] 출력
a = 'abcd@naver.com'
b = email.split('@')
print(b[1].split('.'))

# 퀴즈2) p t 출력
letter = 'python'
print(letter[0], letter[2])

# 퀴즈3) 홀홀홀 출력
string = '홀짝홀짝홀짝'
result = string[::2]
print(result)

# 퀴즈4) 표준입력장치로 사용자의 영문이름을 입력받아서 성과 이름을 순서를 바꾸어 출력하는 프로그램을 작성 (ex hong gildong -> gildong hong)
full_name = input('이름을 입력하세요(예: hong gildong)')
result = full_name.split(' ')
print(result[1], result[0])
  ### find()함수 사용법
space = full_name.find('')
first_name = full_name[:space] # 성씨의 길이가 달라질 경우 변수를 사용하여 안전하게 슬라이싱
last_name = full_name[space+1:]
print(last_name, first_name)
  ### capitalize(): 앞 문자만 대문자로 바꿔줌 - upper()로 인덱싱 해서 하는거보다 더 단순!!!!!!!!
full_name.capitalize()

['naver', 'com']
p t
홀홀홀
이름을 입력하세요(예: hong gildong)hong gildong
gildong hong
ong gildong

'Hong gildong'

## 3️⃣ 자료형 변환

In [27]:
# float -> int
a = int(10.5) # 버림 적용
print(a)
print(type(a))

10
<class 'int'>

In [28]:
# int -> float
b = float(20)
print(b)
print(type(b))

20.0
<class 'float'>

In [29]:
# bool -> int
print(type(True))
print(int(True))

st = '10'
print(type(st))
print(int(st))

st2 = 'python'
print(type(st2))
# print(int(st)2) -> ValueError

# 실수를 갖고있는 문자열의 형변환: 형변환 두번 - float -> int
st3 = '10.5'
print(type(st3))
st3_float = float(st3)
st3_int = int(st3_float)
print(type(st3_float))
print(type(st3_int))

<class 'bool'>
1
<class 'str'>
10
<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>

In [30]:
# 숫자형 자료의 문자열 형변환은 잘됨 ^^
c = 100.22
print(type(str(c)))

<class 'str'>

# 💕 연산자(Operator)
- 산술연산자
- 관계연산자
- 논리연산자
- 대입연산자

## 1️⃣ 산술연산자

In [31]:
# 1. 산술연산자
num1 = 100
num2 = 20
add1 = num1 + num2
print(add1)

sub = num1 - num2
print(sub)

mul = num1 * num2
print(mul)

div = num1 / num2 # 몫을 실수로 반환
print(div) # 정수를 나누기 연산하면 실수로 나옴

div2 = num1 // num2 # 몫의 정수 부분만 반환
print(div2)

num3 = 7
num4 = 4
div3 = num3 % num4 # 나머지 반환
print(div3)

sq = num4 ** 3
sq2 = num3 ** 2

print(sq)
print(sq2)

120
80
2000
5.0
5
3
64
49

## 2️⃣ 관계연산자

In [32]:
# 1. 동등비교
bool_result = num1 == num2
print(bool_result)

bool_result2 = num1 != num2
print(bool_result2)

# 2. 크기비교
bool_result3 = num1 >= num2
print(bool_result3)

False
True
True

## 3️⃣ 논리연산자

In [33]:
num1 = 100
num2 = 20

# and 조건
log_result = num1 >= 50 and num2 <= 10 # 참 and 거짓 : 거짓
print(log_result)

log_result2 = num1 <= 50 and num2 >= 10 # 거짓 and 참 : 거짓
print(log_result2)

log_result3 = num1 >= 50 and num2 >= 10 # 참 and 참 : 참
print(log_result3)

log_result4 = num1 <= 50 and num2 <= 10 # 거짓 and 거짓 : 거짓
print(log_result4)

# or 조건
log_result5 = num1 >= 50 or num2 <= 10 # 참 or 거짓 : 참
print(log_result5)

log_result6 = num1 <= 50 or num2 >= 10 # 거짓 or 참 : 참
print(log_result6)

log_result7 = num1 >= 50 or num2 >= 10 # 참 or 참 : 참
print(log_result7)

log_result8 = num1 <= 50 or num2 <= 10 # 거짓 or 거짓 : 거짓
print(log_result8)

# not
log_result9 = not num1 >= 50 # not 참 : 거짓
print(log_result9)

log_result10 = not num1 <= 50 # not 거짓 : 참
print(log_result10)

False
False
True
False
True
True
True
False
False
True

## 4️⃣ 대입연산자

In [34]:
i = tot = 10
print(i, tot)

i = i + 1
print(i)

i += 1
print(i)

tot += i
print(tot)

v1, v2 = 100, 200
print(v1)
print(v2)

v1, v2 = v2, v1
print(v1)
print(v2)

10 10
11
12
22
100
200
200
100

In [35]:
x = y = z = 10
print(x, y, z)

del z
# print(z) -> NameError: name 'z' is not defined

10 10 10

# 💕 표준입출력장치

## 1️⃣ 표준입력장치

In [37]:
# 표준입력장치는 입력받은 데이터를 string타입으로 저장
num = input()
print(num)
print(type(num))

num2 = int(num)
print(type(num2))

num3 = int(input()) # 한번에 하기!
print(num3)
print(type(num3))

num4 = int(float(input()))
print(num4)
print(type(num4))

num5 = int(input('정수만 입력하세요: '))
print(type(num5))
print(num5)

# 활용 - 단순계산기
n1 = int(input('정수만: '))
n2 = int(input('정수만: '))
print(n1+n2)

31
31
<class 'str'>
<class 'int'>
32
32
<class 'int'>
33
33
<class 'int'>
정수만 입력하세요: 34
<class 'int'>
34
정수만: 35
정수만: 36
71

## 2️⃣ 표준출력장치

In [38]:
# format(value, '양식')
help(format)

Help on built-in function format in module builtins:

format(value, format_spec='', /)
    Return value.__format__(format_spec)

    format_spec defaults to the empty string.
    See the Format Specification Mini-Language section of help('FORMATTING') for
    details.

# 💕 format과 양식문자

## 1️⃣ format
- 문자열 포매팅
- 문자열 중간 중간에 특정 변수의 값을 넣어주기 위해서 사용
- '{인덱스0}, {인덱스1}'.format(값0, 값1)

## 2️⃣ 양식문자
- %s: 문자열 ⭐️
- %c: 한개문자
- %d: 정수 ⭐️
- %f: 실수
- %o: 팔진수
- %x: 십육진수
- %%: %출력

In [39]:
print('원주율 = ', 3.14159)
print('원주율 = ', format(3.14159, '.3f')) # format(value, '양식')

print('금액 = ', format(10000, '3,d')) # 세 자리마다 공백?

원주율 =  3.14159
원주율 =  3.142
금액 =  10,000

In [40]:
name = '홍길동'
age = 25
tall = 175.456
print('이름: %s, 나이: %d, data = %.2f'%(name, age, tall))

print('이름:{}, 나이:{}, data: {}'.format(name, age, tall))

이름: 홍길동, 나이: 25, data = 175.46
이름:홍길동, 나이:25, data: 175.456

## 3️⃣ f-string

In [41]:
# 축약형 f-string - 제일 단순
print(f'이름:{name}, 나이:{age}, data:{tall}')

이름:홍길동, 나이:25, data:175.456

In [42]:
x = 3.14159
print(f'원주울 = {x:.2f}')

print('금액 = ', format(10000, '10,d'))
print(f'금액 = {10000:10,}')

원주울 = 3.14
금액 =      10,000
금액 =     10,000

# 💕 이스케이프 문자
- \ (백슬래시) 와 바로 뒤에 같이 나오는 특정 문자(r, n, t 등)를 합쳐 하나의 이스케이프 문자가 됨
- 출력시 특별한 의미를 가짐

In [43]:
### escape 문자 차단 ###
print('Escape 문자 차단')
# 1. 경로
print('1. 경로')
print('[ 차단안한 경우 ]')
print('path =', 'c:\python38\test')
print('[ 차단한 경우 ]')
print('path =', 'c:\\python38\\test') # 이스케이프 문자를 한번 더 사용하는 방법
print('path =', r'c:\python38\test') # r'' 사용법

Escape 문자 차단
1. 경로
[ 차단안한 경우 ]
path = c:\python38	est
[ 차단한 경우 ]
path = c:\python38\test
path = c:\python38\test

### 📝 퀴즈

In [44]:
# 문제1. 신씨가 소리질렀다. "도둑이야"
text = '신씨가 소리질렀다. "도둑이야"'
print(text)
# 문제2. c:\windows\naver\test
root = r'c:\windows\naver\test'
print(root)
# 문제3. naver/kakao/sk/samsung
print('naver', 'kakao', 'sk', 'samsung', sep='/')
# 문제4. 이번역은 신촌역입니다. 내리실문은 왼쪽입니다.
station = '신촌'
door = '왼쪽'
print(f'이번역은 {station}역입니다. 내리실문은 {door}입니다.')
  # 다른 방법: 문자열 합치기
print('이번역은 ' + station + '역입니다. 내리실문은 ' + door + '입니다.')

신씨가 소리질렀다. "도둑이야"
c:\windows\naver\test
naver/kakao/sk/samsung
이번역은 신촌역입니다. 내리실문은 왼쪽입니다.
이번역은 신촌역입니다. 내리실문은 왼쪽입니다.