<a href="https://colab.research.google.com/github/Tazoria/TIL/blob/main/python/05_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 💕 내장 함수
- 이미 만들어져 있는 함수 / 사용자가 만들지 않아도 바로 사용할 수 있는 함수
- 파이썬에 기본적으로 내장
- print ( ), input ( ), type ( )

## ⭐️ 💡 map ( )
- 지정한 함수에 값을 하나씩 넣어서 실행한 후 그 결과를 저장
- map ( 적용시킬 함수 , 적용할 값1(iterable), 적용할 값2 ...)
- map ( ) 의 반환값은 map 객체이기 때문에 해당 자료형을 list 혹은 tuple 형으로 변환
  - list ( ) 등과 세트로 쓰임 !
- 때에 따라 반복문이나 리스트 내포를 이용할 필요가 없어져 코드가 간결해짐!

In [ ]:
a, b = map(int, [10.2,33.2])
print(a, b)

10 33

In [ ]:
# 각 원소 값 + 1
def add_one(n):
  return n+1

mylist = [1,2,3,4,5]

result = list(map(add_one, mylist))
print(result)

[2, 3, 4, 5, 6]

In [ ]:
# 정수 2개를 한꺼번에 입력받고 정수화 하여 저장
a, b = map(int, input('두 정수를 입력해주세요(콤마 구분) > ').split(','))
print(a, b)
print(type(a), type(b))

두 정수를 입력해주세요(콤마 구분) > 1,2
1 2
<class 'int'> <class 'int'>

## ⭐️ 💡 zip ( *iterable )
- 동일한 개수로 이루어진 데이터들을 묶어서 리턴하는 함수

In [3]:
print(list(zip([1, 2, 3], [4, 5, 6])))
print(list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9])))
print(list(zip("abc", "def")))

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [ ]:
# abs()
print('abs(-3.2): ', abs(-3.2))

# any()
print('any([1,0,3])', any([1,0,3]))

# dir() : 인자로 들어간 값의 자료형에 사용할 수 있는 함수 목록?
print(' dir([1,2]): ', dir([1,2]))

# divmod()
print('divmod(7.1,3.5)', divmod(7.1,3.5))

# enumerate()
for i, name in enumerate(['body', 'foot', 'arm']):
  print(i, name)

# eval() : 문자열 수식 -> 계산 가능한 수식 -> 연산결과
print("eval('1+2')", eval('1+2'))

# filter
def positive(x):
  return x > 0
a = list(filter(positive, [1,-3,2,0,-5,6]))
print(a)

# id()
print('id(a): ', id(a))

# input()
# b = input('인사말을 넣으세요. ')

# 형변환
print(int('11', 2)) # 이진수문자열 -> 정수

# len()

abs(-3.2):  3.2
any([1,0,3]) True
 dir([1,2]):  ['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
divmod(7.1,3.5) (2.0, 0.09999999999999964)
0 body
1 foot
2 arm
eval('1+2') 3
[1, 2, 6]
id(a):  140193943118400
3

# 💕 외장 함수

In [ ]:
# pickle 라이브러리 사용해보기!
# 파일쓰기
import pickle

f = open('text.txt', 'wb') # 파일을 읽고 쓸 수 있도록 하는 함수, 'wb'는 바이너리 형태로 쓰는 옵션(딕셔너리는 바이너리로 써야함)
data = { 1:'python', 2:'you need'}
pickle.dump(data, f)

In [ ]:
# 파일읽기 - 클라우드 환경에서는 간혹 에러남 - drive() import 해서 연결해서 쓰면 안날듯?
from google.colab import drive
drive.mount('/content/drive')

import pickle
f = open('text.txt', 'rb')
data = pickle.load(f)

print(data)

{1: 'python', 2: 'you need'}

In [ ]:
# 파이썬스러운 파일 읽고쓰기 방식
# 쓰기
import pickle
score = {'kor': 100, 'eng':90, 'math':80}
with open('sco.pkl', 'wb') as file:
  pickle.dump(score, file)

In [ ]:
# 읽기
import pickle
with open('sco.pkl', 'rb') as file:
  new_score = pickle.load(file)

print(new_score)

{'kor': 100, 'eng': 90, 'math': 80}

In [ ]:
# time() : 1970년 1월 1일 0시 0분 0초 이후로부터의 경과시간(초)

# time.sleep(초) : 해당시간동안 코드진행을 잠시 멈춤

# 💕 사용자 정의 함수

In [ ]:
# a = 1
# print(a)
# print(type(a))
# print(print(f'지금 사용하는 변수는 {a}, 타입은 {type(a)}입니다.\n'))

def value_print(x):
    print(x)
    print(type(x))
    print(print(f'지금 사용하는 변수는 {x}, 타입은 {type(x)}입니다.\n'))

# a = value_print(2)
# b = value_print('string')



def hello():
    print('hello world!')

hello()

# 순서를 바꾸면 안됨
# hello2()
# def hello2():
#     print('hello world!')

# 빈함수 : 코드 구현 과정에 사용
def hello3():
    pass

hello3()

hello world!
120
80
(10, 20, 30)
10 20 30
my_fuc에는 (1, 2, 3, 4)가 있고 타입은 <class 'tuple'>라고 한다.
10
20
30
10
20
30
10
20
30
55

In [ ]:
# 덧셈함수 선언
def sum1(a, b):
    result = a + b
    print(result)

def sum2(a, b):
    print(a+b)

# 함수호출
sum1(100, 20)
sum2(30, 50)

# return의 값은 여러개가 들어갈 수 있음 (튜플형으로 패킹해서 리턴)

## 💡 언패킹과 사용자함수
- 사용자 함수의 인자로 튜플을 언패킹 해서 하나씩 넘겨줄 수 있음
- 인자의 길이를 모르는 경우 함수 선언시 파라미터 이름 앞에 *을 붙이면?
  - 가변인자(*args)
  - 인자를 받을 때 입력값을 전부 모아 튜플로 만들어줌

In [1]:
# 언패킹
x = (10, 20, 30)
print(x)
print(*x)

def my_fuc(a):
    print(f'my_fuc에는 {a}가 있고 타입은 {type(a)}라고 한다.')

tp = (1,2,3,4)
my_fuc(tp)

def print_number(a, b, c):
    print(a)
    print(b)
    print(c)

print_number(10, 20, 30)

x = [10, 20, 30]
y = (10, 20, 30)

# 에러발생
# print_number(x)
# print_number(y)

# 정상작동
print_number(*x)
print_number(*y)

# 가변인자 활용
def sum_many(*args): # arguments
    sum = 0
    for i in args:
        sum += i
    return sum

result = sum_many(1,2,3,4,5,6,7,8,9,10)
print(result)

(10, 20, 30)
10 20 30
my_fuc에는 (1, 2, 3, 4)가 있고 타입은 <class 'tuple'>라고 한다.
10
20
30
10
20
30
10
20
30

## 💡 키워드 인수
- **kwargs : 매개변수 이름 앞에 **을 붙임
- 인자로 받은 모든 key=value 형태의 입력값이 그 딕셔너리에 저장됨
- 고정인자 vs 키워드 가변인자
  - 고정인자로 받게 되면 모든 인자들을 순서에 맞게 입력해야 올바른 출력결과를 얻을 수 있어서 불편함
  - 키워드 인수를 이용하면 딕셔너리 형태로 저장되므로 key=value형태로만 넣어준다면 순서에 구애받지 않음

In [ ]:
# 키워드인수
address = '신촌'
name = '홍길동'
age = 45
weight = 90

def personal_info1(name=name, age=age, address=address, weight='비밀'): # 값이 있으면 해당값을 넣고 없는경우 미리 설정해놓은 값을 넣음 
  print('이름: ', name)
  print('나이: ', age)
  print('주소: ', address)
  print('몸무게: ', weight)


personal_info1(weight=90)

x = {'name':'홍길동', 'age':30, 'addr':'신촌'}


def personal_info2(name, age, address, weight='비밀'):
  print('이름: ', name)
  print('나이: ', age)
  print('주소: ', address)
  print('몸무게: ', weight)
personal_info2(*x) # 언패킹하면 키만 들어감! (name, age, addr)


# 딕셔너리 함수 받기
def personal_info3(name, age, addr, weight='비밀'): # 이렇게 하면 키값과 파라미터 이름을 맞춰줘야함
  print('이름: ', name)
  print('나이: ', age)
  print('주소: ', address)
  print('몸무게: ', weight)
personal_info3(**x)

# **kwargs 사용
def personal_info4(**kwargs):
  for key, value in kwargs.items():
    print('키는', key, '벨류는', value)

personal_info4(**x)

이름:  홍길동
나이:  45
주소:  신촌
몸무게:  90
이름:  name
나이:  age
주소:  addr
몸무게:  비밀
이름:  홍길동
나이:  30
주소:  신촌
몸무게:  비밀
키는 name 벨류는 홍길동
키는 age 벨류는 30
키는 addr 벨류는 신촌

In [ ]:
# 숫자를 입력받아서 짝수인지 홀수인지 구분하는 함수
# 짝수(even), 홀수(odd)
# 함수 이름: even_odd()

def even_odd(n):
  if n % 2 == 0:
    return('even')
  else:
    return('odd')

# return 키워드 실행시 함수가 종료되는 점을 이용
def even_odd2(num):
  if num % 2 ==0:
    return 'even'
  return 'odd'

even_odd(0)

# seven(num) : num을 입력받아서 num보다 큰 7의 배수중에서 제일 작은 수를 찾는 함수
# seven(22) : 28

import random

def seven(num):
  min = 0
  for n in range(num+1, num+10):
    if n % 7 == 0:
      min = n
      break
  return min

# 강사님 방법 : 더 간단해짐! 변수 필요없고 바로 리턴해버리면 됨!
def seven2(num):
  for i in range(num+1, num+10):
    if i % 7 ==0 :
      return i

seven(45)

49

In [ ]:
from statistics import mean, variance
from math import sqrt

# 산술평균
dataset = [2,4,5,6,1,8]
def Avg(data):
  avg = mean(data)
  return avg

print('산술평균 = ', Avg(dataset))

# 분산 / 표준편차
def var_sd(data):
  avg = Avg(data) # 함수 내에서 이미 선언한 다른 함수 호출 가능
  diff = [(d-avg)**2 for d in data]
  var = sum(diff) / (len(data)-1)
  sd = sqrt(var)
  return var, sd

v, s = var_sd(dataset)
print('분산: ', v)
print('표준편차: ', s)

산술평균 =  4.333333333333333
분산:  6.666666666666666
표준편차:  2.581988897471611

In [ ]:
# 피타고라스 정리
def pytha(s, t):
  a = s**2 - t**2
  b = 2 * s * t
  c = s**2 + t**2
  print('세 변의 길이는 ', a,b,c)

pytha(2, 1)

세 변의 길이는  3 4 5

In [ ]:
# 몬테카를로 시뮬레이션: 컴퓨터와 같은 도구를 이용한 가상 모의실험
# 동전던지기
import random

def coin(n):
  result = []
  for i in range(n):
    r = random.randint(0, 1)
    if (r == 1):
      result.append(1)
    else:
      result.append(0)
    return result
# 몬테카를로 시뮬레이션 함수 정의
def montaCoin(n):
  cnt = 0
  for i in range(n):
    cnt += coin(1)[0]
  result = cnt / n
  return result

print(montaCoin(10))
print(montaCoin(30))
print(montaCoin(100))
print(montaCoin(1000))
print(montaCoin(10000))

0.7
0.6333333333333333
0.46
0.528
0.4995

## 💡 전역 변수 / 지역 변수

In [ ]:
a = 1 # 전역변수

def foo1():
  c = 3 # 지역변수
  global d
  d = 4
  print('a: ', a)
  print('b: ', c)

foo1()

# print(c) # NameError
print('d: ', d)

a:  1
b:  3
d:  4

In [ ]:
x = 10
def foo3():
  global x
  x = 20 #  전역변수 지정을 해줬기 때문에 함수가 호출되지 않아도 값이 재할당됨
  print(x)

# 함수를 호출했을 떼 : x = 20
foo3()

# 밖에서 사용 : x = 20
print(x)

20
20

## 💡 람다함수
- 익명함수
- 함수로 선언시 : ( lambda 매개변수 : 실행문 , 인자1, 인자2, ... )
- filter ( ) 와 map ( ) 이랑 자주 같이 쓰임
- 주의) 람다함수 내에 지역변수 선언 불가
  - 필요시 전역변수로 앞에서 선언해줄 수 밖에 없음

In [ ]:
# 예 1
list(map(lambda x: x+10, [1,2,3]))

[11, 12, 13]

In [ ]:
# 예 2
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

a = map(lambda a,b: a+b, list1, list2)
print(list(a))

[7, 9, 11, 13, 15]

In [ ]:
# 같은 기능의 두 함수 (1)
# 일반함수 선언
def add(a, b):
  return a+b

k = add(3,4)
print('일반함수: ', k)

# 람다함수 사용
k1 = lambda a,b : a+b
result = k1(3,4)
print('람다함수: ', result)

일반함수:  7
람다함수:  7

In [ ]:
# 같은 기능의 두 함수 (2)
# 일반함수 선언
def plus_ten(x):
  return x+10
print('일반함수: ', plus_ten(5))

# 람다함수 사용
plus_ten2 = lambda x: x+10
print('람다함수: ', plus_ten2(5))

일반함수:  15
람다함수:  15

In [ ]:
# 입력받은 정수들에 10을 더해 출력해주는 프로그램
numbers = list(map(lambda x: int(x) + 10, input().split(',')))

print(numbers)

1,2,3,4,5
[11, 12, 13, 14, 15]

In [ ]:
# 제약사항

# 일반함수는 함수안에서 지역변수 선언이 가능
def xplusy(x):
  y = 10
  return x+y

xplusy(1)

# 지역변수선언 - 불가
# (lambda x : y=10; x+y)(3) # SyntaxError
# 해결방안 - 함수밖에서 전역변수로 미리 선언
y = 10
(lambda x : x+y)(3)

13

In [ ]:
# 3 6 9 게임 : 3 6 9 - > '박수'
a = list(range(1, 10))

# 일반함수
def three_clap(numbers):
  result = []
  for n in numbers:
    if n % 3 == 0:
      result.append('박수')
    else:
      result.append(n)
  return result
three_clap(a)

# 람다함수
# 내꺼 틀린답안: result = (lambda n='박수' if n % 3 == 0, a) 
lambda1 = list(map(lambda x : str('박수') if x % 3 == 0 else x, a)) # str() 안해도 작동함
print(lambda1)

# 3 6 9 박수 + 5의 배수는 실수로 형변환 - 이 정도의 복잡도면 그냥 일반함수로 선언하는게 좋음
lambda2 = list(map(lambda x : str('박수') if x%3 ==0 else float(x) if x% 5 == 0 else x, a))
print(lambda2)

[1, 2, '박수', 4, 5, '박수', 7, 8, '박수']
[1, 2, '박수', 4, 5.0, '박수', 7, 8, '박수']

In [ ]:
# 내가 만든 사용자함수 사용해보기
from mod1 import add, sub
a = add(6,5)
print(a)
b = sub(7,3)
print(b)

11
4

In [ ]:
# 기존 max()함수
maxa = [1,2,3]
max(maxa)

# 세 수를 입력받아 큰 수를 출력하는 함수
def print_max(a, b, c):
  if a >= b and a>=c:
    return a
  elif b >= a and b>=c:
    return b
  else:
    return c
print_max(1,2,3)

# 답
def print_max(a, b, c):
  max_value = 0
  if a > max_value:
    max_value = a
  if b > max_value:
    max_value = b
  if c > max_value:
    max_value = c
  print(max_value)
print_max(4,2,5)

5

In [ ]:
# 한 줄에 다섯글자씩만 출력하는 함수
def print_5xn(line):
  chek_num = int(len(line) / 5)
  for x in range(chek_num+1):
    print(line[x*5: x*5 +5 ])

print_5xn('아이엠어보이유알어걸')

아이엠어보
이유알어걸